{% load static %}
<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                {%for rs in  product_slider%}
                <div class="banner banner-1">
                    <img src="{{rs.image.url}}" alt="" height="300" width="200">
                    <div class="banner-caption text-center">
                        <h1>{{rs.title}}</h1>
                        <h3 class="white-color font-weak">{{rs.price}}</h3>
                        <button class="primary-btn"><a href="/product/{{rs.id}}/{{rs.slug}}">Shop Now</a></button>
                    </div>
                </div>
                {%endfor%}
                <!-- /banner -->

                <!-- banner -->
               
                <!-- /banner -->

                <!-- banner -->
               
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->